.DamageList_ROOT{
    width: 20%;
    height: 70%;
	margin-top:40px;
}

.DamageList
{
	width: 400px;
	height: 820px;
	margin-top:45px;
	horizontal-align: left;
	vertical-align: top;
    transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.80s, 0.50s, 0.205s;
    transition-timing-function: ease-in-out;


}
#DamageList.Hidden{
    opacity: 0.0;
    transform: translateX( -400px ) translateY( 400px );
    pre-transform-scale2d:0.95;
    wash-color: #000000;
}






#PlayerDamageTypes
{
	flow-children:right;
	width: 200px;
	height: 22px;
	/* background-color: #010000; */
}
#PlayerPhysical
{
	width: 40px;
	margin-top:3px;
	margin-bottom:3px;
	height: 18px;
	background-color: #B9500B;
	transition-property:width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
	border: 1px solid rgba(235, 152, 152, 0.5);
	box-shadow:rgba(235, 152, 152, 0.5) 0px 0px 2px 0px;
}
#Playerphysdamagepercent
{
	color:white;
	font-size:15px;
}
#HeroMovie_mask{
	/* width: 100%;
	height: 100%; */
	opacity-mask: url("s2r://panorama/images/masks/scratched_box_psd.vtex");
}
#PlayerMagical
{
	width: 40px;
	margin-top:3px;
	margin-bottom:3px;
	height: 18px;
	background-color: #257DAE;
	transition-property:width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
	border: 1px solid rgba(152, 188, 235, 0.5);
	box-shadow:rgba(152, 188, 235, 0.5) 0px 0px 2px 0px;
}
#Playermagdamagepercent
{
	color:white;
	font-size:15px;
}
#PlayerPure
{
	width: 40px;
	margin-top:3px;
	margin-bottom:3px;
	height: 18px;
	background-color: #c09507;
	transition-property:width;
    transition-duration: 1s;
    transition-timing-function: ease-in;

	border: 1px solid rgba(227, 235, 152, 0.5);
	box-shadow:rgba(227, 235, 152, 0.5) 0px 0px 2px 0px;
}
#Playerpuredamagepercent
{
	color:white;
	font-size:15px;
}
#PlayerColor 
{
	horizontal-align: left;
	font-size:24px;
} 
 
#Players
{
	flow-children:down;
	margin-top:30px;
} 
.Player
{  
	/* background-color: #0100004f; */
	/* box-shadow: rgba(41, 41, 41,0.9)  0px 0px 30px 0px;  */
	border: 0.6px solid #333333; 
	border-left:  2.6px solid #120025; 
	opacity:0.8;
	flow-children:right;
	color:white;
	margin-bottom:2px;
	min-width: 260px;

	background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_long2.png");
    background-size: 100% 100%;
    background-position: 50% 80%;
    /* wash-color:rgba(71, 46, 133, 0.902);  */

}
#LeftSide
{
	flow-children:down;
}

#RightSide
{
	flow-children:down;
}
#EmptySpace
{
	color:white;
	font-size:25px;
}
#HeroMovie_Root{
	flow-children:right;
	padding: 1px;
	/* width: 100%; */
	/* box-shadow: rgb(20, 20, 20)  0px 0px 30px 50px;  */
}
/* 英雄头像 */
#HeroMovie{
	width: 40px;
	height: 40px;
	border: 3px solid rgba(0, 0, 0, 1);
}
/*  */
#PlayerHeroSignal
{

	/* margin-left: 30px; */
	font-size:20px;
	align: center center;
    color: #e1e1e1;
    /* width: 100%; */
    text-align: center;
    font-family:titleFont;
    text-overflow: shrink;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    text-transform: uppercase;
    font-weight: semi-bold;
    /* box-shadow: rgb(20, 20, 20)  0px 0px 3px 0px;  */
	border-bottom: 1px solid rgba(96, 96, 96, 0.5);
}

#PlayerDamageDealtSignal
{
	color:white;
	font-size:14px;
}
#PlayerDamageTakenSignal
{
	color:white;
	font-size:14px;
}
#PlayerDamageHealedSignal
{
	color:white;
	font-size:14px;
}
#PlayerDPSSignal
{
	color:white;
	font-size:14px;
}
#PlayerDamageDealt
{
	color:white;
	margin-top:10px;
	font-size:14px;
}
#PlayerDamageTaken
{
	color:white;
	font-size:14px;
}
#PlayerDamageHealed
{
	color:white;
	font-size:14px;
}
#PlayerDPS
{
	color:white;
	font-size:14px;
}




#OpenDamageListButton {
    /* align: right bottom; */
    /* margin-left: 12px; */
    margin-top: 35px;
    /* background-image: url("s2r://panorama/images/custom_game/icon_options.png"); */
    /* background-image: url("s2r://panorama/images/hud/reborn/icon_inspect_active_psd.vtex"); */
    /* background-size: 100%; */
    background-repeat: no-repeat;
    /* background-position: center; */

	background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/v4_battle_button.png");
    background-size: 35px 35px;
    background-position: 50% 80%;
	saturation:0.6;
	wash-color: rgba(44, 1, 72, 0.816);



    z-index: 0;
    padding: 20px;
    border-radius: 50%;
}


#OpenDamageListButton:hover {

    brightness: 2.4;
}

/* .DamageList {
    visibility: collapse;
}
.DamageList.Visible {
    visibility: visible;
} */
