.chaotic_era_root {
  height: 100%;
  width: 100%;
}
.general_chaotic_label {
  color: #fcfcfc;
  text-align: center;
  font-size: 25px;
  font-family: titleFont;
  text-overflow: shrink;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 0px 1 #00000090;
  font-weight: semi-bold;
  wash-color: rgba(19, 0, 67, 0.772);
  /* box-shadow: rgb(20, 20, 20)  0px 0px 3px 0px;  */
}
/*怪物升阶cy，要回复请于chaotic_era.xml内将Nouse_label替换为chaotic_era_generalHDButton*/
.Nouse_label{
  visibility:collapse;

}