.hd_genaral_Background{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_profile.png");
    background-size: 100% 100%;
    background-position: 50% 80%;
    wash-color:rgba(0, 0, 0, 0); 
    /* opacity: 0.5; */
}
.hd_genaral_Background .low_opacity{
    opacity: 0.3;
}
.hd_genaral_Background .hd_genaral_Background_layer2{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_long.png");
    background-size: 150% 100%;
    background-position: 50% 80%;
    wash-color:rgba(0, 0, 0, 0.5); 
}
.hd_genaral_Background .hd_genaral_Background_layer3{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_long2.png");
    background-size: 150% 100%;
    background-position: 50% 80%;
    wash-color:rgba(0, 0, 0, 0.5); 
}
.hd_genaral_Background_long_width{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/draft_results_bg.png");
    background-size: 100% 100%;
    background-position: 50% 80%;
    wash-color:rgba(19, 0, 67, 0.772); 
}
.hd_genaral_Background_spellShop{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_long2.png");
    background-size: 100% 100%;
    background-position: 50% 80%;
    wash-color:rgba(71, 46, 133, 0.902); 
}

.generalHDButton{
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_deck_info.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: 150% 100%; */
    /* background-position: 50% 80%; */
    /* background-image: url("s2r://panorama/images/hud/reborn/hud_custom_ti11/ability_bg_psd.vtex"); */

    width: 200px;
    padding: 15px;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out 0s;
    margin-top: 70px;
    brightness: 1.5;
    wash-color: rgba(56, 0, 119, 0.563);
    border:0.6px solid rgba(99, 99, 99,0.3);
    &.hidden{
        opacity: 0;
    }
}

.mainMenuDesign{
    wash-color: rgba(231, 207, 255, 0.5);
    saturation:0.9;
    /* brightness: 0.9; */
}
.low_opacity{
    opacity: 0.7;
}



.chaotic_era_generalHDButton{
    background-image: url("s2r://panorama/images/custom_game/chaotic_era/hud/bg_deck_info.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out 0s;
    /* margin-top: 70px; */
    margin: 10px;
    brightness: 1.5;
    wash-color: rgba(56, 0, 119, 0.563);
    border:0.6px solid rgba(99, 99, 99,0.3);
    background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 1)), color-stop(0.35, transparent), to(transparent));
}

.chaotic_era_generalHDButton:hover{
    brightness: 2.5;
}
.chaotic_era_generalHDButton:active{
    brightness: 1.8;
}

.chaotic_era_generalHDButton > Label{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
    font-size: 20px;
    /* width: 100%; */
    horizontal-align: center;
    text-shadow: -1px -1px -1px #000, 2px 2px 2px #fff; /* 雕刻 */
    text-overflow: shrink;
    align: center top;
    margin-bottom: -3px;
    text-align: center;
    /* z-index: 0; */
    color: gradient(linear, 0% 0%, 90% 90%, from(#f8f8f8), to(#3d3d3d));
}


.hdGeneralTitle{
    color: #ffffffff;
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
    font-size: 34px;
    height: 46px;
    width: 100%;
    text-shadow: 2px 2px 4px 2 #00000090;
    text-overflow: shrink;
    align: center top;
    margin-bottom: 11px;

    text-align: center;
    padding-top: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    color: gradient(linear, 0% 0%, 0% 90%, from(#f8f8f8), to(#3e6461));
}